h2 {
 font-size: 30px!important;
 color: limegreen;
 letter-spacing: 7px;
 font-weight: 300;
}

#take_snapshot:hover {
    background-color: green;
}

canvas {
   animation-name: shinchan;
   animation-duration: 1s;
   animation-iteration-count: infinite;
}
@keyframes shinchan{
    from{box-shadow: 3px 3px 10px hotpink;}
    to{box-shadow: 3px 3px 10px royalblue;}
}